*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    background-color: #fff;
    color: #434455;
}

.container {
    max-width: 320px;
    padding-inline: 16px;
    margin: 0 auto;
}

.section {
    padding-block: 96px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #434455;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-link {
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover, .header-link:focus {
    color: #404bbf;
}

.nav-list {
    display: none;
    gap: 40px;
    align-items: center;
}

.address-list {
    display: flex;
    gap: 40px;
}

.nav {
    display: flex;
    gap: 120px;
}


.logo {
    display: inline-block;
    padding-block: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-web {
    color: #4d5ae5;
}

.logo-studio {
    color: #2e2f42;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    position: relative;
    padding-block: 24px;
    display: inline-block;
}

.nav-link.active {
    color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.active::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
    bottom: -1px;
    left: 0;
}

/* .nav-link:hover::after, .nav-link:focus::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #404bbf;
    position: absolute;
    bottom: 0;
    left: 0;
} */

.address {
    font-style: normal;
    display: none;
}

.email {
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.menu-button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: block;
}

.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-mob@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-block: 72px;
    min-width: 320px;
    margin: 0 auto;
}

@media (min-resolution: 2x) {
    .hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-mob@2x.jpg);
    }
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-bg {
    margin: 0 auto;
    text-align: center;
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 72px;
    max-width: 216px;
}

.hero-button {
    background: #4d5ae5;
    letter-spacing: 0.04em;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    line-height: 1.5;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus {
    background-color: #404bbf;
}

.features-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
}

.features-item {
    flex-basis: 100%;
}

.features-icon-div {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
    display: none;
    justify-content: center;
    align-items: center;
}

.feature-title {
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.12;
    font-size: 36px;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-text {
    font-weight: 400;
    color: #434455;
    line-height: 1.5;
}

.team {
    background: #f4f4fd;
}

.team .container {
    padding-inline: 28px;
}

.team-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 72px;
    flex-wrap: wrap;
}

.team-item {
    background-color: #fff;
    flex-basis: 264px;
}

.team-card {
    border-radius: 0 0 4px 4px;
    padding-inline: 0px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.card-name {
    text-align: center;
    font-size: 20px;
    margin-bottom: 8px;
}

.card-content {
    padding: 32px 16px;
}

.card-description {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-icons-div {
    display: flex;
    gap: 24px;
    max-height: 40px;
    margin-top: 8px;
}

.ellipse {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ellipse:hover, .ellipse:focus {
    background-color: #31d0aa;
}

.team-icons-div .ellipse:hover, .team-icons-div .ellipse:focus {
    background-color: #404bbf;
}

.team-icon {
    fill: #f4f4fd;
}

.portfolio-header-title, .team-title, .features-title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    color: #2e2f42;
    letter-spacing: 0.02em;
}

.portfolio-header-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-item {
    flex-basis: 100%;
}

.portfolio-card-content {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-img-wrapper {
    position: relative;
    overflow: hidden;
    height: 280px;
}

.portfolio-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    scale: 1.21;
    object-position: 12px;
}

.portfolio-description {
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background: #4d5ae5;
    color: #f4f4fd;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-content:hover .portfolio-description {
    transform: translateY(0);
}

.description-container {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding-block: 32px;
    padding-inline: 16px;
}

.portfolio-title {
    margin-bottom: 8px;
}

.portfolio-title, .card-name {
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    font-size: 20px;
    color: #2e2f42;
}

.footer {
    background: #2e2f42;
    padding-block: 96px;
}

.footer-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}

.footer-info {
    display: flex;
    gap: 72px;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    max-width: 264px;
}

.footer-content a {
    display: block;
    text-align: center;
}

.footer-logo {
    color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 16px;
}

.footer-social-media, .subscribe-title {
    margin-bottom: 16px;
    margin-top: 0;
    font-weight: 500;
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.social {
    width: 208px;
}

.footer-text-div {
    display: flex;
    gap: 16px;
    max-height: 40px;
}

.footer-social-icon {
    fill: #f4f4fd;
}

.subscribe-form {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
}

.subscribe-input {
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:active, .subscribe-input:hover, .subscribe-input:focus {
    border-color: #31d0aa;
    outline: none;
}

.subscribe-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.subscribe-button {
    border-radius: 4px;
    padding-block: 8px;
    padding-inline: 24px;
    background-color: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover, .subscribe-button:focus {
    background-color: #31d0aa;
}

.subscribe-icon {
    fill: #fff;
    margin-left: 16px;
}

.backdrop, .mob-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-open, .mob-backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    padding: 72px 16px 24px 16px;
}

.close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover, .close-button:focus {
    background-color: #404bbf;
}

.close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-icon, .close-button:focus .close-icon {
    fill: #fff;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-input-wrapper {
    position: relative;
}


.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding: 8px 16px 8px 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover, .modal-input:focus {
    border-color: #4d5ae5;
    outline: none;
}

.modal-input:hover+.modal-icon, .modal-input:focus+.modal-icon {
    fill: #4d5ae5;
}

.modal-icon {
    fill: #2e2f42;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    resize: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:hover, .modal-textarea:focus {
    border-color: #4d5ae5;
    outline: none;
}

.modal-textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.modal-comment-field {
    margin-bottom: 16px;
}

.modal-checkbox-field {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.modal-label-checkbox {
    display: flex;
    align-items: center;
}

.styled-checkbox {
    content: '';
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 8px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-icon {
    fill: transparent;
}

.agree-conditions:checked+.modal-label-checkbox .styled-checkbox {
    background-color: #404bbf;
    border: 1px solid #404bbf;
}

.agree-conditions:checked+.modal-label-checkbox .modal-checkbox-icon {
    fill: #f4f4fd;
}

.agree-conditions:focus+.modal-label-checkbox .styled-checkbox {
    border: 1px solid #404bbf;
}

.modal-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.modal-button {
    border-radius: 4px;
    padding-block: 16px;
    padding-inline: 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover, .modal-button:focus {
    background-color: #404bbf;
}


.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.close-button-mob {
    position: relative;
    margin-left: auto;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 24px;
}

.nav-list-mob {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mob-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mob-link.active {
    color: #404bbf;
}

.address-mob {
    margin-bottom: 48px;
}

.address-list-mob {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
}

.mob-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mob-address-link.active {
    color: #4d5ae5;
}

.menu-social-list {
    display: flex;
    max-height: 40px;
    justify-content: space-between;
}

/* TABLET */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .menu-button {
        display: none;
    }

    .team .container {
        padding-inline: 108px;
    }

    .hero {
        padding-block: 112px;
        min-width: 768px;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab@1x.jpg);
    }

    @media (min-resolution: 2x) {
        .hero {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab@2x.jpg);
        }
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
        max-width: 496px;
    }

    .features-list {
        gap: 72px 24px;
    }

    .feature-title {
        text-align: left;
    }

    .features-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .team-list {
        gap: 64px 24px;
    }

    .team-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .portfolio-list {
        gap: 72px 24px;
    }

    .portfolio-item {
        flex-basis: calc((100% - 24px)/2);
    }

    .footer-info {
        flex-direction: row;
        justify-content: center;
    }

    .portfolio-img-wrapper {
        height: 300px;
    }

    .footer-content a, .footer-social-media, .subscribe-title {
        text-align: left;
    }

    .footer-info {
        align-items: baseline;
        gap: 24px;
    }

    .footer-container {
        padding-inline: 108px;
        align-items: baseline;
    }

    .subscribe-form {
        flex-direction: row;
        justify-content: start;
        gap: 24px;
    }

    .nav-list {
        display: flex;
    }

    .address {
        display: block;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-item {
        display: flex;
        align-items: center;
    }

    .header-link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }

    .modal {
        padding: 72px 24px 24px 24px;
        width: 408px;
    }

    .mob-backdrop.is-open {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

/* DESKTOP */
@media screen and (min-width: 1158px) {
    .container, .team .container {
        max-width: 1158px;
        padding-inline: 15px;
    }

    .section {
        padding-block: 120px;
    }

    .header-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .hero {
        padding-block: 188px;
        max-width: 1440px;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-desk@1x.jpg);
    }

    @media (min-resolution: 2x) {
        .hero {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-desk@2x.jpg);
        }
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 48px;
    }

    .features-icon-div {
        display: flex;
    }

    .features-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .features-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .feature-title {
        font-weight: 500;
        line-height: 1.2;
        font-size: 20px;
    }

    .features-text {
        font-weight: 400;
    }

    .team-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .team-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .portfolio-list {
        gap: 48px 24px;
    }

    .portfolio-item {
        flex-basis: calc((100% - 48px)/3);
    }

    .portfolio-card-content {
        box-shadow: none;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-card-content:hover, .portfolio-card-content:focus {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
    }

    .footer-container {
        flex-wrap: nowrap;
        padding-inline: 15px;
        flex-direction: row;
        gap: unset;
    }

    .footer-info {
        gap: 120px;
    }

    .footer {
        padding-block: 100px;
    }

    /* .header {
        display: block;
    } */

    .nav {
        gap: 76px;
    }

    .address-list {
        flex-direction: row;
        gap: 40px;
        justify-content: start;
    }

    .mob-backdrop.is-open {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}